
@{
    ViewBag.Title = "Create";
}

<h2>Create a New Color</h2>
<p>Please enter colors in HTML hexadecimal format: #AABBCC</p>

@using (@Html.BeginForm("Create", "Color", FormMethod.Post))
{
    @Html.Label("first", "First Color")
    <br />
    @Html.TextBox("first", null, htmlAttributes: new { @class = "first", type = "text" })
    <br />
    @Html.Label("second", "Second Color")
    <br />
    @Html.TextBox("second", null, htmlAttributes: new { @class = "second", type = "text" })
    <br />
    <br />
    @Html.TextBox("submited", "MixColors", htmlAttributes: new { @class = "submited", type = "submit" })
    <br />

    if (ViewBag.first != null)
    {
    <br />
    <div class="container">
        <div class="col-md-2" style="width:100px; height:100px; background:@ViewBag.first">
        </div>
        <h4 class="col-md-1 text-center"> + </h4>
        <div class="col-md-2" style="width:100px; height:100px; background:@ViewBag.second">
        </div>
        <h4 class="col-md-1 text-center"> = </h4>
        <div class="col-md-2" style="width:100px; height:100px; background:@ViewBag.result">
        </div>
    </div>
    }
    <p> @ViewBag.result </p>
}


