@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reginald's Ancient Antiquities Auction House</h1>

</div>
@model IEnumerable<HW8.Models.Bid>

<div class="row">
    <div class="col-md-12 text-center">
        <p><a class="btn btn-default" href="Home/CreateBid">Bid on an Item!</a></p>
    </div>
    <div class="col-md-12">
        <h2 class="text-center">Recent 10 Bids</h2>

    </div>
    <div class="col-md-12">
   
        <table class="table">
            <thead>
                <tr>
                    <th>ItemID</th>
                    <th>Item Name</th>
                    <th>Buyer Name</th>
                    <th>Bid Amount</th>
                    <th>TimeStamp</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.ItemID</td>

                    <td>@Html.ActionLink(@item.Item.Name, "DetailItem", new { id = item.ItemID })</td>

                    <td>@item.Buyer.Name</td>
                    <td>$@item.Price</td>
                    @if (@ViewBag.TodayDate == @item.TimeStamp.ToString("d"))
                    {
                        <td>@item.TimeStamp.ToString("t")</td>
                    }
                    else
                    {
                        <td>@item.TimeStamp</td>
                    }

                </tr>
                }
            </tbody>
        </table>
    
    </div>
</div>