@model IEnumerable<HW6.Models.Person>
@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center">Search</h2>

<form action="/" method="get">
    @Html.TextArea("name", new { @class = "form-control" })
    <input type="submit" value="Submit Request" class="btn btn-success" />
</form>

@if (Model != null)
{
    <p>Names matching your search ( @ViewBag.name ):</p>
    using (Html.BeginForm("Detail", "Home"))
    {
        foreach (var item in Model)
        {

            @*<input type="submit" value="@Html.DisplayFor(modelItem => item.FullName)" name="name2"/>*@
            <button class="btn btn-default" type="submit" name="id" value="@Html.DisplayFor(modelItem => item.PersonID)">@Html.DisplayFor(modelItem => item.FullName)</button>
            <br />
        }

    }
}

<!--need to display results here somehow-->
